<div>
  <div id="map" class="col-md-12"></div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">Create</div>
  <div class="col-md-3 col-sm-6 col-xs-12">Organize</div>
  <div class="col-md-3 col-sm-6 col-xs-12">Request</div>
  <div class="col-md-3 col-sm-6 col-xs-12">Recycle</div>
</div>   
<h1>Tenants</h1>

<%= render "apartments/iminmodal" %>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title text-center">Enter Your Apartment</h3>
      </div>

      <div class="panel-body new-link-section">


    <%= form_tag do %>
    <div class="input-group">
      <%= text_field_tag(:apartment, :street_address, value: nil, class: 'form-control', placeholder: 'Street Address') %>
    <span class="input-group-btn">
      <%= button_tag "Submit", class: "btn btn-primary", id: 'address_search'%></span>
    </div>
    <% end %>
  </div>
</div>

<h3>All Apartments</h3>
<ul class="list-group">
<% @apartments.each do |apartment| %>
    <li class="list-group-item"><%= apartment.street_address%></li>
<% end %>
</ul>
