<!DOCTYPE html>
<html>
  <head>
    <title>Circular</title>
    <%= csrf_meta_tags %>
    <script src="//maps.google.com/maps/api/js?key=<%=ENV['google_maps_secret']%>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>

    <div class="container">
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %> text-center alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <%= sanitize(message) %>
      </div>
    <% end %>
    
    <div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
  
    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>
    
    <%= yield %>

  </div>
  </body>
</html>
